
/* scrollbar */
#bm-review-modal .modal-body {
    overflow-y: auto;
  height: 90vh !important;
}
#bm-review-modal .modal-body::-webkit-scrollbar {
   width: 10px;
}
#bm-review-modal .modal-body::-webkit-scrollbar-thumb {
   background-color: #2aa2dd;
   border-radius: 20px;
}
#bm-review-modal .modal-body::-webkit-scrollbar-track {
   background-color: #2aa2dd30;
}
/* scrollbar */


/* header */
#bm-review-modal .modal-header-container {
   position: sticky;
   top: 0;
   z-index: 9999;
   background: #fff;
}
#bm-review-modal .modal-header {
   padding-bottom: 5px !important;
}

#bm-review-modal .modal-header .close {
   opacity: 1 !important;
   background: red !important;
   font-size: 20px !important;
   padding: 5px 10px !important;
     border-radius: 3px !important;
       margin: 0 0 0 auto !important;
}
/* header */


/* modal width - desktop */
@media (min-width: 576px) {
   #bm-review-modal .modal-dialog {
       max-width: 800px !important;
   }
}
/* modal width - desktop */


/* tab/mob */
@media (max-width: 575px) {
   #bm-review-modal .modal-dialog {
       max-width: 100% !important;
       margin: 0;
   }
       #bm-review-modal .modal-header .close {
   opacity: 1 !important;
   background: red !important;
   font-size: 30px !important;
       padding: 3px 10px !important;
       border-radius: 3px !important;
       margin: 0 0 0 auto !important;
   }
   
}
/* tab/mob */