* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tags slider open */
.bppm-tags-slider-wrapper {
    padding: 0;
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    border-radius: 13px;
}

.bppm-tags-slider-wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.bppm-tags-slider-wrapper .icon:first-child {
    left: 0;
    display: none;
}

.bppm-tags-slider-wrapper .icon:last-child {
    right: 0;
    justify-content: flex-end;
}

.bppm-tags-slider-wrapper .icon i {
    width: 35px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    background: #efedfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bppm-tags-slider-wrapper .icon i:hover {
    color: #2AA4DD;
}

.bppm-tags-slider-wrapper .tags-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.bppm-tags-slider-wrapper ul.tags-box {
margin: 9px 0px 9px 0px !important;
padding: 7px 0;
color: black !important;
}

.tags-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.bppm-tags-slider-wrapper .tags-box .tag {
    cursor: pointer;
    font-size: .85rem;
        
    white-space: nowrap;
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bppm-tags-slider-wrapper .tags-box .tag a {
color: black;
font-weight: 600;
}
.bppm-tags-slider-wrapper .tags-box .tag a:hover {
text-decoration: none !important;
}
.bppm-tags-slider-wrapper .tags-box .tag:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}

.bppm-tags-slider-wrapper .tags-box.dragging .tag {
    user-select: none;
    pointer-events: none;
}



@media screen and (max-width:770px) {
     .bppm-tags-slider-wrapper ul.tags-box {
    overflow-x: auto !important;
}

}

/* tags slider close */
