* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imageContainer {
    overflow: hidden; /* Hide overflow to clip zoomed image */
    width: 100%; /* Adjust width as needed */
    height: 100vh; /* Adjust height as needed */
    position: fixed; /* Required for absolute positioning of image */
    top: 0;
    left: 0;
    width: 100;
    height: auto;
  }
  
  #zoomImage {
    width: 100%; /* Set initial width to fill container */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position image within container */
    top: 0;
    left: 0;
    transition: transform 0.3s ease; /* Add transition for smooth zooming */
  }
  